.theme-dark {
    --color-p-txt: #ffffff;
    --color-one: #050505;
    --color-two: #1A1A1A;
    --color-three: #242424;
    --color-four: #535456;
    --color-five: #B7B7B7;
    --color-six: #f1f1f1;
    --color-yellow: #F3BB03;
    --color-red: #FF3148;
    --color-blue: #2DC8E6;
}
.theme-light {
    --color-p-txt: #050505;
    --color-one: #FFFFFF;
    --color-two: #e5e5e5;
    --color-three: #EEEEEE;
    --color-four: #242424;
    --color-five: #535456;
    --color-six: #f1f1f1;
    --color-yellow: #F3BB03;
    --color-red: #FF3148;
    --color-blue: #2DC8E6;
}

body {
    background: #FFFFFF;
}
header {
    background: #EEEEEE;
}
hr {
    background: #EEEEEE;
}


html , .search-page {
    scrollbar-color: #585858 #EEEEEE;
}
html::-webkit-scrollbar-track,
.search-page::-webkit-scrollbar-track {
    background: #EEEEEE;
}
html::-webkit-scrollbar-thumb,
.search-page::-webkit-scrollbar-thumb {
    background-color: #585858;
    border: 1px solid #EEEEEE;
}


p, span, a {
    color: #535456;
}


.menu {
    background: #e5e5e5;
}
.menu a {
    color: #535456;
}
.menu a:hover {
    color: #535456;
}


#menu-icon span {
    background: #535456;
}


.user-online {
    color: #535456;
}
.svg-icons {
    fill: #535456;
}


.btn-accont {
    color: #F3BB03;
    background: #e5e5e5;
}
.btn-accont:hover{
    color: #F3BB03;
    box-shadow: 0 10px 10px -10px #ffffff;
}


.Login-register-btn {
    color: #535456;
}
.Login-register-btn:hover {
    text-decoration: none;
    color: #242424;
}


.search-page {
    background: #e5e5e5;
}
.search-page-content {
    background: #e5e5e5;
}


input:checked+.slider {
    background: url('../../img/svgs/light-toggle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background: white;
    background-repeat: no-repeat;
    background-position: center;
}


.latest-search-item {
    background: #ffffff;
    border: dashed 1px #535456;
}
.latest-search-item:hover {
    color: #535456;
    box-shadow: 0px 5px 10px #ffffff;
}


.search-form input {
    color: #535456 !important;
    background: #EEEEEE;
}
.search-form input:focus {
    background: #EEEEEE;
}

.search-form button {
    background: #ffffff;
}
.search-form button:hover {
    background: #e5e5e5;
}


.side-content {
    background: #e5e5e5;
}

.div-content > div{
    background: #EEEEEE;
}

.top-ten-container a {
    background: #EEEEEE;
    border: dashed 1px #535456;
}


.archive-content {
    background: #e5e5e5;
}

.archive-content .overlay-image {
    background: rgb(229,229,229);
    background: linear-gradient(0deg, rgba(229,229,229,1) 0%, rgba(229,229,229,0) 100%);
}


.color-text {
    color: #535456 !important;
}

.color-white-black {
    color: #050505 !important;
}

.bg-white-black {
    background: #050505 !important;
}

.bg-dark {
    background: #e5e5e5 !important;
}

.bg-dark2 {
    background: #eeeeee !important;
}

.footer {
    background: #EEEEEE;
}

.footer-bottom {
    background: #e5e5e5;
}

.tag {
    background: #fafafa;
    color: #777777;
}

.tag:hover {
    color: #535456;
    box-shadow: 0px 5px 10px #f6f6f6;
}





#BackToTopButton {
    background: #e5e5e5;
}
#BackToTopButton::after {
    color: #535456;
}
#BackToTopButton:hover {
    background-color: #999;
}
#BackToTopButton:active {
    background-color: #999999;
}

#loadMoreBtn.disable {
    color: #444444;
    background: none !important;
    pointer-events: none !important;
}

#preloader {
    background: #fff !important;
}


/* Login and Registe styles */
.split.left {
    left: 0;
    background-color: #eeeeee;
}

.split.right {
    right: 0;
    background-color: #e5e5e5;
}