:root {
    --plyr-color-main: #2dc8e6;
    --plyr-control-radius: 5px;
    --plyr-font-family: 'IranSans';
}

.theme-dark {
    --color-p-txt: #ffffff;
    --color-one: #050505;
    --color-two: #1A1A1A;
    --color-three: #242424;
    --color-four: #535456;
    --color-five: #B7B7B7;
    --color-six: #f1f1f1;
    --color-yellow: #F8CB5C;
    --color-red: #FF3148;
    --color-blue: #2DC8E6;
}

.theme-light {
    --color-p-txt: #050505;
    --color-one: #FFFFFF;
    --color-two: #e5e5e5;
    --color-three: #EEEEEE;
    --color-four: #242424;
    --color-five: #535456;
    --color-six: #f1f1f1;
    --color-yellow: #F8CB5C;
    --color-red: #FF3148;
    --color-blue: #2DC8E6;
}


body {
    background: #050505;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #242424;
}

hr {
    background: #242424;
}

img {
    border-radius: 10px;
}

* {
    font-family: 'IranSans', sans-serif;
    transition: background-color .5s;
}


* {
    scrollbar-width: Thin;
    scrollbar-color: #535456 #242424;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #242424;
}

*::-webkit-scrollbar-thumb {
    background-color: #535456;
    border: 1px solid #242424;
}

.slide-menu-toggle-open-close {
    display: none;
}

#ToggleSlideMenu .text::before {
    position: absolute;
    content: "نمایش بیشتر";
}

#ToggleSlideMenu .text.active::before {
    content: "نمایش کمتر";
}

#ToggleSlideMenu svg {
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#ToggleSlideMenu.flip-icon svg {
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}


.main-logo img {
    max-height: 130px;
}

.first-suggestion {
    position: relative;
}

.swiper-first-suggestion-next {
    position: absolute;
    top: 30% !important;
    left: 0 !important;
    background-color: #0e0e0e;
    padding: 40px 25px;
    border-radius: 0 10px 10px 0;
    opacity: .8;
}

.swiper-first-suggestion-prev {
    position: absolute;
    top: 30% !important;
    right: 0 !important;
    background-color: #0e0e0e;
    padding: 40px 25px;
    border-radius: 10px 0 0 10px;
    opacity: .8;
}


.scrollbar {
    overflow: auto;
}

.scrollbar {
    scrollbar-width: Thin;
    scrollbar-color: #535456 #1A1A1A;
}

.scrollbart::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #1A1A1A;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #535456;
    border: 1px solid #1A1A1A;
}

.song-lyric-content {
    scrollbar-width: Thin;
    scrollbar-color: #FF3148 #050505;
}

.song-lyric-content::-webkit-scrollbar {
    width: 8px;
}

.song-lyric-content::-webkit-scrollbar-track {
    background: #050505;
}

.song-lyric-content::-webkit-scrollbar-thumb {
    background-color: #FF3148;
    border: 1px solid #050505;
}

.song-info-content {
    scrollbar-width: Thin;
    scrollbar-color: #F3BB03 #050505;
}

.song-info-content::-webkit-scrollbar {
    width: 8px;
}

.song-info-content::-webkit-scrollbar-track {
    background: #050505;
}

.song-info-content::-webkit-scrollbar-thumb {
    background-color: #F3BB03;
    border: 1px solid #050505;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
label {
    text-decoration: none;
    font-size: 14px;
    color: #B7B7B7;
}

a:hover {
    text-decoration: none;
    color: #b7b7b7;
}

.menu {
    width: 300px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 61px;
    margin-right: -300px;
    background: #1A1A1A;
    transition: .5s;
    padding-right: 14px;
}

.menu-content {
    margin-right: 0px;
    position: relative;
    width: 100%;
    text-align: right;
    overflow: auto;
}

.menu a {
    padding: 5px;
    padding-right: 0px;
    text-decoration: none;
    font-size: 16px;
    color: #B7B7B7;
    display: block;
    transition: 0.3s;
}

.menu span {
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: #B7B7B7;
}

.menu-open {
    margin-right: 0;
}

.hide-overflow {
    overflow: hidden;
}


#menu-icon {
    width: 30px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #B7B7B7;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menu-icon span:nth-child(1) {
    top: 0px;
}

#menu-icon span:nth-child(2) {
    top: 10px;
}

#menu-icon span:nth-child(3) {
    top: 20px;
}

#menu-icon.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#menu-icon.open span:nth-child(2) {
    opacity: 0;
    right: -60px;
}

#menu-icon.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


.title-text {
    font-size: 18px;
}

.top-container {
    margin-top: 61px;
    box-shadow: 0px 20px 20px -18px rgba(0,0,0,0.3);
    margin-bottom: 50px;
}

.user-online {
    color: #B7B7B7;
}

.svg-icons {
    max-height: 20px;
    fill: #B7B7B7;
}

.search-icon {
    cursor: pointer;
    margin-right: 20px;
}

.header-logo {
    margin-right: 20px;
}

.header-logo img {
    max-height: 45px;
}

.btn-accont {
    color: #F8CB5C;
    margin-right: 20px;
    padding: 10px 20px;
    background: #1A1A1A;
    transition: 0.25s;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn-accont:hover {
    text-decoration: none;
    color: #F8CB5C;
    box-shadow: 0 10px 10px -10px #050505;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.Login-register-btn {
    margin-right: 20px;
    color: #B7B7B7;
    transition: .5s;
}

.Login-register-btn:hover {
    text-decoration: none;
    color: #535456;
}


.search-page {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    position: fixed;
    transition: .5s ease-in;
    margin-left: -100%;
    background: #1A1A1A;
    overflow: auto;
}

.search-page-content {
    background: #1A1A1A;
    margin-top: 60px;
    position: relative;
    width: 100%;
    text-align: right;
}

.search-page-open {
    margin-left: 0;
}

.close-search-page {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    margin-right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../img/svgs/dark-toggle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: #535456;
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.latest-search-item {
    position: relative;
    padding: 5px 15px;
    margin: 10px 15px;
    margin-right: 0;
    background: #050505;
    border-radius: 10px;
    border: dashed 1px #B7B7B7;
    transition: all .3s;
}

.latest-search-item:hover {
    z-index: 1000;
    color: #B7B7B7;
    box-shadow: 0px 5px 10px #050505;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.search-form input {
    color: #b7b7b7 !important;
    background: #242424;
    border-radius: 100px !important;
    border: none !important;
    padding: 25px 15px !important;
}

.search-form input:focus {
    background: #242424;
}

.search-form button {
    background: #050505;
    border-radius: 100px !important;
    border: none !important;
    padding: 0px 20px !important;
}

.search-form button:hover {
    background: #1A1A1A;
}


.image-cover {
    cursor: pointer;
    position: relative;
}

.image-cover img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.overlay-image-hover {
    border-radius: 10px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(45, 200, 230);
    background: linear-gradient(0deg, rgba(45, 200, 230, 1) 0%, rgba(45, 200, 230, 0) 100%);
}

.overlay-image-hover-2 {
    border-radius: 10px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(5, 5, 5);
    background: linear-gradient(0deg, rgba(5, 5, 5, 0.5046393557422969) 0%, rgba(5, 5, 5, 0.5018382352941176) 100%);
}

.overlay-image-hover .icon-play {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-image-hover .view {
    transition: .5s ease;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.overlay-image-hover .like {
    transition: .5s ease;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.overlay-image-hover span {
    color: #fff;
}

.card-cover a {
    transition: .5s;
}

.card-cover:hover .overlay-image-hover {
    opacity: 1;
}

.ads {
    position: relative;
}

.ads div {
    color: #b7b7b7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.side-content {
    background: #1A1A1A;
    padding: 15px;
    border-radius: 10px;
}

.archive-content {
    transition: .5s;
    background: #1A1A1A;
    padding: 15px;
    border-radius: 10px;
}

.archive-content .overlay-image {
    transition: .5s;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(26, 26, 26);
    background: linear-gradient(0deg, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0) 100%);
}

.div-content img {
    border-radius: 10px;
}

.side-content .tab-pane .tab-item p {
    font-size: 13px;
}

.top-ten-container a {
    color: #fff !important;
    background: #242424;
    margin: 0px 7px;
    border-radius: 10px !important;
    border: dashed 1px #B7B7B7;
    width: 70px;
}

.top-ten-container .active p {
    color: #fff !important;
}

.top-ten-container .active {
    background: #2DC8E6 !important;
    margin: 0px 7px;
    border-radius: 10px;
    border: solid 1px #2DC8E6;
}


.div-content>div {
    background: #242424;
    border-radius: 10px !important;
}

.most-view .tab-item {
    background: #242424;
    border-radius: 10px !important;
}

.most-view {
    height: 260px;
}

.sticky-top {
    top: 71px !important;
}



.singer {
    max-height: 260px;
}

.category {
    max-height: 260px;
}

.latest-change {
    height: 260px;
}

.swiper-pagination-bullet {
    background: #535456 !important;
}

.swiper-button-next::after {
    color: #535456 !important;
}

.swiper-button-prev::after {
    color: #535456 !important;
}

.swiper-container {
    direction: rtl !important;
}

.footer {
    background: #242424;
}

.footer-bottom {
    background: #1A1A1A;
}

.tag {
    position: relative;
    transition: all .5s;
    padding: 5px 10px;
    border-radius: 100px;
    background: #1A1A1A;
    color: #535456;
}

.tag:hover {
    color: #535456;
    box-shadow: 0px 5px 10px #1A1A1A;
}



.main-content-card-image {
    position: relative;
}

.main-content-card-image img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    transition: .5s ease;
}

.main-content-card-image-hover {
    border-radius: 10px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(45, 200, 230);
    background: linear-gradient(0deg, rgba(45, 200, 230, 1) 0%, rgba(45, 200, 230, 0) 100%);
}

.main-content-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-content-card-image-hover .view-more {
    display: inline-block;
    position: relative;
    transition: .5s ease;
    color: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.80);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.main-content-card-image-hover .save-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
}

.main-content-card-image-hover .save-button {
    display: inline-block;
    position: relative;
    transition: .5s ease;
    padding: 20px 20px;
    border-radius: 100px;
    background: #DC5F71;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    margin-bottom: -15px;
}

.main-content-card {
    display: none;
}

.main-content-card:hover .main-content-card-image-hover {
    opacity: 1;
}






/* This class can be replaced using options */
.hover-in {
    transition: .5s ease-out;
}

.hover-out {
    transition: .5s ease-in;
}



/********** This is for Bootstrap 5 Grid **********/
.w-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.28%;
    flex: 0 0 14.28%;
    max-width: 14.28%;
    padding: 0;
}

@media (min-width: 576px) {
    .w-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.28%;
        flex: 0 0 14.28%;
        max-width: 14.28%;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .w-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.28%;
        flex: 0 0 14.28%;
        max-width: 14.28%;
        padding: 0;
    }
}

@media (min-width: 992px) {
    .w-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.28%;
        flex: 0 0 14.28%;
        max-width: 14.28%;
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .w-xl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.28%;
        flex: 0 0 14.28%;
        max-width: 14.28%;
        padding: 0;
    }
}


.site-name-top {
    font-size: 26px;
}

.site-name-top-2 {
    font-size: 16px;
}

.color-text {
    color: #EEEEEE !important;
}

.color-yellow {
    color: #F3BB03 !important;
}

.color-red {
    color: #FF3148 !important;
}

.color-blue {
    color: #2DC8E6 !important;
}

.color-purple {
    color: #6B82E9 !important;
}

.color-white-black {
    color: #fff !important;
}

.color-green {
    color: #44D7B6 !important;
}

.bg-dark {
    background: #1A1A1A !important;
}

.bg-dark2 {
    background: #242424 !important;
}

.bg-text {
    background: #EEEEEE !important;
}

.bg-yellow {
    background: #F3BB03 !important;
}

.bg-red {
    background: #FF3148 !important;
}

.bg-blue {
    background: #2DC8E6 !important;
}

.bg-purple {
    background: #6B82E9 !important;
}

.bg-white-black {
    background: #fff !important;
}


/********** This is for remove outline of all input elements **********/
button:focus,
button:active,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none !important;
    outline: none !important;
}



/********** This is for font-family and font-size **********/
.text-ultra-light-font {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 200;
}

.text-light-font {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 300;
}

.text-medium-font {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 500;
}

.text-bold-font {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: bold;
}

.text-black-font {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 900;
}

.text-title-0 {
    /* 32px */
    font-size: 2rem;
}

.text-title-1 {
    /* 26px */
    font-size: 1.625rem;
}

.text-title-2 {
    /* 22px */
    font-size: 1.375rem;
}

.text-title-3 {
    /* 18px */
    font-size: 1.125rem;
}

.text-title-4 {
    /* 16px */
    font-size: 1rem;
}

.text-title-5 {
    /* 14px */
    font-size: 0.875rem;
}

.text-title-6 {
    /* 12px */
    font-size: 0.75rem;
}

.text-title-7 {
    /* 10px */
    font-size: 0.625rem;
}

.text-title-8 {
    /* 8px */
    font-size: 0.5rem;
}

.scrollbar .mCSB_inside>.mCSB_container {
    margin-right: 15px;
}

.scrollbar .mCSB_scrollTools {
    width: 10px;
}

.scrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #535456 !important;
    width: 3px;
}

.scrollbar .mCSB_scrollTools .mCSB_draggerRail {
    background: transparent !important;
    width: 1px;
}

.navigation a,
.navigation i {
    font-size: 16px;
    color: #535456;
}


.fixed-sidebar {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    height: 300px;
    padding: 30px 0;
    top: 81px;
    bottom: auto;
}


#BackToTopButton {
    display: inline-block;
    background: #1A1A1A;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#BackToTopButton::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
    font-size: 2em;
    line-height: 45px;
    color: #747474;
}

#BackToTopButton:hover {
    cursor: pointer;
    background-color: #333;
}

#BackToTopButton:active {
    background-color: #555;
}

#BackToTopButton.show {
    opacity: 1;
    visibility: visible;
}

#loadMoreBtn.disable {
    color: #fff;
    background: none !important;
    pointer-events: none !important;
}




.everlib-logo {
    display: inline-block;
    cursor: pointer;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.everlib-logo .everlib-logo-first-bar,
.everlib-logo .everlib-logo-second-bar,
.everlib-logo .everlib-logo-third-bar,
.everlib-logo .everlib-logo-fourth-bar {
    display: inline-block;
    width: 8px;
    border-radius: 50rem;
    margin: 0px 4px;
    padding: 0;
    transition: 0.5s;
    animation: equalize 4s 0s infinite;
    animation-timing-function: linear;
    vertical-align: top;
    background: #2dc8e6;
    background: linear-gradient(90deg, #2dc8e6 0%, #44d7b6 100%);
}
.everlib-logo .everlib-logo-first-bar {
    height: 60px;
    transition: 0.5s;
    animation-delay: -1.9s;
}
.everlib-logo .everlib-logo-second-bar {
    height: 40px;
    animation-delay: -2.9s;
}
.everlib-logo .everlib-logo-third-bar {
    height: 80px;
    animation-delay: -3.9s;
}
.everlib-logo .everlib-logo-fourth-bar {
    height: 20px;
    animation-delay: -4.9s;
}

@keyframes equalize {
    0% {
    height: 80px;
    }
    4% {
    height: 70px;
    }
    8% {
    height: 60px;
    }
    12% {
    height: 50px;
    }
    16% {
    height: 40px;
    }
    20% {
    height: 30px;
    }
    24% {
    height: 40px;
    }
    28% {
    height: 20px;
    }
    32% {
    height: 40px;
    }
    36% {
    height: 50px;
    }
    40% {
    height: 30px;
    }
    44% {
    height: 40px;
    }
    48% {
    height: 50px;
    }
    52% {
    height: 30px;
    }
    56% {
    height: 10px;
    }
    60% {
    height: 30px;
    }
    64% {
    height: 50px;
    }
    68% {
    height: 30px;
    }
    72% {
    height: 50px;
    }
    76% {
    height: 20px;
    }
    80% {
    height: 50px;
    }
    84% {
    height: 40px;
    }
    88% {
    height: 50px;
    }
    92% {
    height: 20px;
    }
    96% {
    height: 60px;
    }
    100% {
    height: 80px;
    }
}











/* Preloader style */
#preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    background: #1A1A1A !important;
}

.loader-gif {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Login and Register page style */
.login-register input {
    min-width: 270px;
    width: 350px !important;
    border: none !important;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.split.left {
    left: 0;
    background-color: #242424;
}

.split.right {
    right: 0;
    background-color: #1A1A1A;
}

.split .centered {
    min-width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 576px) {
    .login-register input {
        max-width: 270px !important;
    }

    .split {
        width: 100%;
        position: relative;
        height: 100vh;
    }

    .split.right {
        display: none;
    }
}

@media (min-width: 576px) {
    .login-register input {
        max-width: 350px !important;
    }

    .split {
        width: 100%;
        position: relative;
    }
}

@media (min-width:768px) {
    .login-register input {
        max-width: 270px !important;
    }

    .split {
        width: 50%;
        position: fixed;
    }
}

@media (min-width:992px) {
    .login-register input {
        max-width: 350px !important;
    }

    .split {
        width: 50%;
        position: fixed;
    }
}



#VideoPlayer {
    width: 100%;
}

.plyr__menu__container {
    background-color: #242424;
}

.plyr__control:hover span {
    color: #fff !important;
}


.Download-links {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23242424FF' stroke-width='5' stroke-dasharray='6%2c6' stroke-dashoffset='20' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 10px;
    padding: 20px
}

.Download-links .links {
    padding: 10px 20px;
    display: inline-block;
    background-color: #242424;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.Download-links .links:hover {
    background-color: #2DC8E6;
    color: #fff;
}


.song-info-content {
    height: 150px;
    color: #b7b7b7;
    overflow: auto;
}

.song-info-content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #F3BB03 !important;
    width: 3px;
}


.song-lyric-content {
    height: 430px;
    color: #b7b7b7;
    overflow: auto;
}

.song-lyric-content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #FF3148 !important;
    width: 3px;
}

#CommentsModalReply textarea:focus {
    background: #242424 !important;
}

#CommentsModalReply input:focus {
    background: #242424 !important;
}

#CommentsModalReply textarea {
    color: #fff;
    padding: 20px !important;
}

#CommentsModalReply input {
    color: #fff;
    padding: 20px !important;
}

.song-comments {
    background-color: #1A1A1A;
    padding: 20px;
    border-radius: 10px;
}

.song-comments .item {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23242424FF' stroke-width='5' stroke-dasharray='6%2c6' stroke-dashoffset='20' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 10px;
    padding: 20px;
}

.song-comments input,
.song-comments textarea {
    border: none !important;
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-width: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    color: #fff;
}



#commentMassage {
    resize: vertical;
    width: 100%;
    border: none;
    overflow: hidden;
    min-height: 200px !important;
}

#commentMassage:focus {
    box-shadow: none;
    outline: none !important;
}



.pagination {
    overflow-x: auto;
    margin: 0;
}

.pagination .page-item:nth-child(1) {
    margin-right: auto !important;
}

.pagination .page-item:last-child {
    margin-left: auto !important;
}

.pagination::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pagination {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.pagination>li:last-child>a {
    margin-right: 5px;
}

.pagination .page-item a {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    color: #535456;
    background-color: transparent;
}

.pagination .page-item span {
    color: #535456;
    background-color: transparent;
}

.pagination .page-item.active a {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    color: #F9FCFB;
    background-color: transparent;
}

.pagination .page-item.disabled a {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    color: #535456;
    background-color: transparent;
}


.plyr__caption {
    font-size: 18px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}



.category-item {
    position: relative;
    background: #1A1A1A;
    border-radius: 10px;
    -o-transition: bac .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

.category-item img {
    opacity: .4;
    width: 100%;
}

.category-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.category-item:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: rgb(45,200,230);
    background: linear-gradient(90deg, rgba(45,200,230,1) 0%, rgba(68,215,182,1) 100%);
}

.category-item:hover p {
    color: white !important;
}

.category-item img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}


.artist-name {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    transform: unset !important;
}

.artist-img {
    opacity: 1 !important;
}



.accordion .card {
    background: transparent;
    border: none;
    border-radius: 0;
}

.accordion .card-header {
    background: #1A1A1A;
    border-radius: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.accordion .card-header button {
    color: #fff;
    text-decoration: none;
}

.accordion .card-body {
    border-radius: 10px;
    background: transparent;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23242424FF' stroke-width='5' stroke-dasharray='6%2c6' stroke-dashoffset='20' stroke-linecap='butt'/%3e%3c/svg%3e");
}

.accordion .card-body img {
    border: 2px solid #242424;
}



.table-ads th {
    color: #fff;
}

.table-ads .show-img {
    background: #242424;
    padding: 10px 20px;
    border-radius: 10px;
}


.table-ads .disable-ads {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23FF3148' stroke-width='4' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}

.table-ads .disable-ads td {
    padding: 30px 20px;
    color: #FF3148;
}

.table-ads .disable-ads td:nth-child(1) {
    border-radius: 0 10px 10px 0;
}

.table-ads .disable-ads td:last-child {
    border-radius: 10px 0 0 10px;
}

.table-ads .disable-ads .submit {
     display: none !important;
}




.table-ads .enable-ads {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2344D7B6' stroke-width='4' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 10px;
}

.table-ads .enable-ads td {
    padding: 30px 20px;
    color: #44D7B6;
}

.table-ads .enable-ads td:nth-child(1) {
    border-radius: 0 10px 10px 0;
}

.table-ads .enable-ads td:last-child {
    border-radius: 10px 0 0 10px;
}

.table-ads .enable-ads .submit {
    background: #242424;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
}


.modal input{
    color: #fff;
    background: #242424;
}

.modal input:focus{
    color: #fff;
    background: #242424;
}



.plan-item {
    background: #1A1A1A;
    padding: 30px;
    border-radius: 5px;
}